<div class="jumbotron">
  <h1>Welcome to Pinterested</h1>

  <p>Find me in app/views/home/index.html.erb</p>

  <%= link_to "Login", root_path, class: 'btn btn-default' %>
  <%= link_to "Join", root_path, class: 'btn btn-primary' %>
</div>